<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://th.bing.com/th/id/OIP.w2IMKG2PKHyzWrJwkdEBkgAAAA?w=227&h=180&c=7&r=0&o=5&dpr=2&pid=1.7"
      alt=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Lorem Ipsum</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam velit,
      posuere in viverra sit amet, scelerisque a arcu. Donec non aliquam augue.
      Maecenas vitae massa et nunc vulputate congue. Ut et augue euismod sem
      interdum gravida.
    </a></p>
  </div>
</div>
