
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://th.bing.com/th/id/OIP.kuRzuMuDyDaqAAglpORmMQHaE8?w=284&h=180&c=7&r=0&o=5&dpr=2&pid=1.7"
      cardTitle="ANGULAR FRAMEWORK"
      cardDescription="A Single-Page-Application blog created using Angular on the DIO.me bootcamp. Angular is Framework which is used for creating Fast Web Applications.
       It uses concepts of SPA in which UI is delivered in the beginning of application request and later only data is requested which makes SPA applications fast."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      cardTitle="TypeScript offers all of JavaScript’s features, and an additional layer on top of these"
      photoCover="https://th.bing.com/th/id/OIP.MYg4MkoNTs5CrBCBOpJyBAHaEF?w=314&h=180&c=7&r=0&o=5&dpr=2&pid=1.7"
    >
    </app-small-card>

    <app-small-card
      id="3"
      cardTitle="HTML is the standard markup language for Web pages."
      photoCover="https://th.bing.com/th/id/OIP.o-wNqCyhGc3XpFMfCCFpigHaEK?w=309&h=180&c=7&r=0&o=5&dpr=2&pid=1.7"
    >
    </app-small-card>

    <app-small-card
      id="4"
      cardTitle="Cascading Style Sheets (CSS) is used to format the layout of a webpage"
      photoCover="https://th.bing.com/th/id/OIP.3ZzgCdy_Jkjo17ro3VyG6gHaEP?w=287&h=180&c=7&r=0&o=5&dpr=2&pid=1.7"
    >
    </app-small-card>
  </div>
</div>
